<!DOCTYPE html>
<html>
<head>
  <title>in.gredients.in</title>
  <link href='http://fonts.googleapis.com/css?family=Condiment|Oxygen' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="top" <% if params[:q].present? || controller.controller_name != "home" %>class="small"<% end %>>
  <div id="logo"><a href="http://in.gredients.in">in.gredients.in</a></div>

  <% if controller.controller_name == "home" %>
  <div id="search">
    <form class="clearfix">
      <input id="search-bar" name="q" <% if params[:q].present? %> value="<%= params[:q] %>" <% else %> autofocus <% end %> placeholder="What are the ingredients?">
      <button id="search-btn" type="submit"><i class="icon-search"></i></button>
    </form>
  </div>
  <% end %>
</section>
<%= yield %>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '518279ba108d7b36e2000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
